body {
  padding-top: 80px;
  background-color: rgb(5, 24, 36);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  background: linear-gradient(rgb(4, 10, 34),  
rgb(7, 18, 55));
  display: flex;
  align-items: center;
  z-index: 100;
}
.logo {
font-size: 25px;
color: white;
font-weight: 600;
text-decoration: none;

}
.logo:hover {
  text-shadow:
    0 0 10px rgb(0, 255, 238),
    0 0 20px rgb(255, 0, 174),
    0 0 30px lightpink ,
    0 0 40px white ;
  color: black;  
  transform: scale(1.1);
    transition: 0.3s ease;


}
.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;

}
.navbar a:hover {
color: rgb(0, 0, 0);
text-shadow: 0 0 10px white,
0 0 20px white ,
0 0 30px white ;
    font-weight: 600;
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.3s ease;
    
}
.navbar {
  display: flex;
  margin-left: 900px;
}





@media (max-width: 900px) {
  .header {
    padding: 15px 20px;
    justify-content: space-between;
  }
  .navbar {
    margin-left: 0;
  }
  .navbar a {
    margin-left: 20px;
    font-size: 16px;
  }
}


@media (max-width: 600px) {
  body {
    padding-top: 70px;
  }
  .header {
    padding: 12px 15px;
  }
  .logo {
    font-size: 22px;
  }
  .navbar {
    left: 0;
    width: 100%;
    background-color: rgb(7, 25, 47);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
  padding-left: 20px;
  }
  .navbar a {
    margin-left: 0;
    font-size: 8px;
  }
}


body{
  background-color: rgb(9, 12, 41);
}
