.skillpage {
min-height: 600px;
padding-top: 80px;
padding-bottom: 80px;
padding-left: 20px;
padding-right: 20px;
text-align: center;
position: relative;
}
.skilltitle {
font-size: 45px;
margin-bottom: 60px;
color: rgb(0, 0, 0);
text-shadow:
0 0 20px rgb(255, 0, 149),
0 0 35px rgb(76, 47, 144);
text-decoration: underline;

}
.skilltitlediv {
z-index: 2;
position: relative;
}
.skilltitle:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.skillcontainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.skillbox {
  width: 280px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(248, 104, 224, 0.138);
  border: 2px solid rgba(255, 255, 255, 0.15);
  transition: 0.4s ease;
}
.skillbox:hover {
  box-shadow: 0 0 30px rgb(243, 124, 199);
  transform: scale(1.1);
  transition: 0.5s;
}
.skillbox h3 {
  font-size: 26px;
  margin-bottom: 15px;
  color: rgba(232, 119, 183, 0.744);
  text-shadow: 0 0 10px rgba(248, 112, 225, 0.7);
  text-decoration: underline;
 font-family: monospace;
}
.skillbox p {
  font-size: 18px;
  color: white;
 
  line-height: 1.6;
}










@media (max-width: 900px) {
  .skilltitle {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .skillcontainer {
    gap: 30px;
  }
  .skillbox {
    width: 240px;
    padding: 25px;
  }
  .skillbox h3 {
    font-size: 22px;
  }
  .skillbox p {
    font-size: 16px;
  }
}


@media (max-width: 600px) {
  .skillpage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .skilltitle {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .skillcontainer {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .skillbox {
    width: 100%;
    max-width: 200px;
    padding: 22px;
  }

  .skillbox h3 {
    font-size: 20px;
  }
  .skillbox p {
    font-size: 15px;
  }
}
